docs/n8n-workflows/contact-form-workflow.json
{
    "name": "Contact Form Automation",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "contact-form",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "sheetId": "ENTER_YOUR_SHEET_ID_HERE",
                "range": "A:E",
                "options": {}
            },
            "name": "Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                450,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_CREDENTIALS_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "return {\n  json: {\n    success: true,\n    message: \"Data received\",\n    timestamp: new Date().toISOString()\n  }\n};"
            },
            "name": "Format Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{JSON.stringify($json)}}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.webhookResponse",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}